.main {
  min-height: calc(100vh - 160px);
  flex: 1 1 auto;
  margin-top: 188px;
}
@media (max-width: 768px) {
  .main {
    margin-top: 150px;
  }
}
@media (max-width: 479.98px) {
  .main {
    margin-top: 80px;
  }
}

.register__form-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 20px;
  font-style: normal;
  color: #212629;
}

@font-face {
  font-family: GilRoyBold;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: GilroyLigth;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-fb:before {
  content: "\e900";
}

._icon-insta:before {
  content: "\e901";
}

._icon-linkedin:before {
  content: "\e902";
}

._icon-twitter:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "GilroyLigth";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "GilroyLigth";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a,
li {
  list-style-type: none;
}

body {
  font-family: "GilRoyBold";
  color: rgba(33, 38, 41, 0.6);
  font-size: 14px;
  background: #E9E9E9;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}
@media (max-width: 1182px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 15px;
  }
}

@media (max-width: 991.98px) {
  html {
    font-size: 55%;
  }
}
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100px;
  transition: background-color 0.3s ease;
}
.header__content {
  max-width: 1160px;
  position: relative;
}
@media (max-width: 767.98px) {
  .header {
    height: 70px;
    background-color: #d3d3d3;
  }
}

.menu {
  margin-top: 37px;
}
@media (max-width: 767.98px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }
}
.menu__logo--burger {
  display: none;
}
@media (max-width: 767.98px) {
  .menu__logo--burger {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .menu__logo-svg {
    width: 120px;
  }
}
.menu__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .menu__body {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__list li:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 767.98px) {
  .menu__list {
    display: none;
  }
}
.menu__button-order {
  padding: 12px 30px;
  background: #E9E9E9;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08), -1px -1px 6px rgba(255, 255, 255, 0.5), -5px -5px 20px #FFFFFF, 5px 5px 20px #D3D3D3;
  border-radius: 30px;
}
.menu__button-order a {
  color: #212629;
}
.menu__user-icon {
  background: #E9E9E9;
  padding: 10px 12px;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.08), -1px -1px 6px rgba(255, 255, 255, 0.5), -5px -5px 20px #FFFFFF, 5px 5px 20px #D3D3D3;
}
.menu__button-up {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  color: #fff;
  background: #25D366;
  border-radius: 30px;
}
.menu__link--whatsapp {
  margin-left: 9px;
  color: #fff;
}
@media (max-width: 767.98px) {
  .menu__logo--desktop {
    display: none;
  }
}
@media (min-width: 767.98px) {
  .menu__button-order:hover, .menu__user-icon:hover, .menu__button-up:hover {
    background-color: #FE9102;
    transition: all 0.5s ease 0s;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
}
@keyframes fadeBurger {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
}
.form {
  position: absolute;
  right: 0;
  width: 400px;
  height: 530px;
  border-radius: 40px 40px 40px 5px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05), 60px 60px 80px rgba(0, 0, 0, 0.35);
  background: #E9E9E9;
  display: none;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  z-index: 500;
}
.form._act {
  display: block;
  top: 60px;
  animation: fadeIn 0.4s linear;
}
@media (max-width: 767.98px) {
  .form {
    display: block;
    margin-top: 65px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -150%;
    border-radius: 0;
    top: 0;
    transition: all 0.7s ease 0s;
    overflow: auto;
    z-index: 5;
  }
  .form._active {
    left: 0;
    display: block;
  }
}
.form__body {
  display: flex;
  padding: 0px 20px 40px 20px;
  justify-content: center;
  flex-direction: column;
}
.form__buttons {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: start;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  width: 100%;
  padding-bottom: 20px;
}
.form__buttons:first-child {
  border-top: 1px solid white;
  padding-top: 20px;
}
.form__header {
  height: 54px;
  position: relative;
}
.form__close {
  position: absolute;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 24px;
  padding: 4.5px;
  color: #fff !important;
  background-color: #000;
  border-radius: 50%;
  text-align: center;
}
@media (max-width: 767.98px) {
  .form__close {
    display: none;
  }
}
.form__link {
  margin-left: 22px;
  font-family: "GilroyLigth";
  font-size: 16px;
  color: #212629;
}
@media (min-width: 767.98px) {
  .form__link a:hover {
    color: #FE9102;
    transition: all 0.5s ease 0s;
  }
}
@media (max-width: 767.98px) {
  .form__link {
    font-size: 20px;
  }
}
@media (min-width: 767.98px) {
  .form__link:hover {
    color: #FE9102;
    transition: all 0.3s ease;
  }
}
.form__button {
  padding: 10px 75px;
  color: #fff;
  background: #25D366;
  border-radius: 30px;
  text-align: center;
  color: #fff !important;
}
@media (max-width: 767.98px) {
  .form__button {
    font-size: 20px;
  }
}
@media (max-width: 479.98px) {
  .form__button {
    font-size: 18px;
  }
}
@media (min-width: 767.98px) {
  .form__button:hover, .form__close:hover {
    background-color: #FE9102;
    transition: all 0.5s ease 0s;
  }
}
.form__footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.is_scrolled .header {
  background-color: #d3d3d3;
  z-index: 500;
}

.footer__body {
  padding-bottom: 70px;
}
.footer__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200.98px) {
  .footer__row {
    align-items: flex-start;
    flex-direction: column;
  }
}
.footer__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 1200.98px) {
  .footer__items {
    margin-bottom: 50px;
    width: 100%;
  }
}
.footer__item {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: start;
}
.footer__item:not(:last-child) {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(22, 22, 22, 0.08);
  padding-bottom: 20px;
  width: 370px;
}
@media (max-width: 1200.98px) {
  .footer__item:not(:last-child) {
    width: 100%;
  }
}
.footer__item:first-child {
  border-top: 1px solid rgba(22, 22, 22, 0.08);
  padding-top: 20px;
}
@media (max-width: 1200.98px) {
  .footer__item:first-child {
    width: 100%;
  }
}
.footer__link {
  margin-left: 22px;
  font-family: "GilroyLigth";
  font-size: 18px;
  color: #212629;
}
@media (min-width: 1200.98px) {
  .footer__link:not(:last-child):hover {
    color: #25D366;
    transition: all 0.5s ease 0s;
    fill: #25D366;
  }
}
.footer__copyrigth {
  margin-left: 0;
}
@media (max-width: 1200.98px) {
  .footer__copyrigth {
    justify-content: center;
    margin-top: 20px;
  }
}
.footer__svg:hover {
  fill: #25D366;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
  height: 610px;
}

.slider {
  position: relative;
}
.slider__wrapper {
  max-width: 600px;
}
.slider__body {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  height: 500px;
  position: relative;
  /* Text */
  background: #212629;
  /* Bold */
  box-shadow: 10px 35px 10px -15px rgba(0, 0, 0, 0.5);
  border-radius: 80px 80px 80px 5px;
  padding: 50px;
}
@media (max-width: 1182px) {
  .slider__body {
    max-width: 800px;
  }
}
.slider__second {
  background-color: white;
  overflow: hidden;
}
.slider__img {
  position: absolute !important;
  top: -70px;
  right: 4px;
  max-width: 100%;
}
@media (max-width: 1182px) {
  .slider__img {
    display: none;
  }
}
.slider__title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  color: #FFFFFF;
  max-width: 578px;
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .slider__title {
    font-size: 45px;
    margin-bottom: 50px;
  }
}
@media (max-width: 479.98px) {
  .slider__title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.slider__btn {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #FE9102;
  padding: 10px 30px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(255, 255, 255, 0.05), -5px -5px 20px rgba(255, 255, 255, 0.1), 5px 5px 20px rgba(0, 0, 0, 0.8);
  border-radius: 99px;
  transition: all 0.4s ease;
}
@media (max-width: 479.98px) {
  .slider__btn {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
.slider__btn img {
  margin-left: 18px;
}
@media (min-width: 767.98px) {
  .slider__btn:hover {
    background-color: black;
    color: white;
  }
}
.slider__second-img {
  top: 21.6%;
  z-index: 50;
}
@media (max-width: 1182px) {
  .slider__second-img {
    display: none;
  }
}
.slider__second-title {
  color: #212629;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 149px;
  max-width: none;
  margin-top: -160px;
  margin-bottom: 60px;
}
@media (max-width: 1182px) {
  .slider__second-title {
    font-size: 60px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .slider__second-title {
    font-size: 45px;
    margin-bottom: 20px;
    line-height: 140px;
  }
}
@media (max-width: 479.98px) {
  .slider__second-title {
    font-size: 40px;
    line-height: 48px;
    margin-top: -31px;
  }
}
.slider__subtitle {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  color: #212629;
  max-width: 320px;
}
.slider__subtitle:not(:last-child) {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  left: 50px;
  top: 420.75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 479.98px) {
  .slick-dots {
    top: 448px;
  }
}
.slick-dots li {
  margin: 0px 10px;
}
.slick-dots button {
  font-size: 0;
  width: 18px;
  height: 18px;
  background: gray;
  border-radius: 50%;
}

.register {
  background: #25D366;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 767.98px) {
  .register {
    padding-top: 110px;
    padding-bottom: 50px;
  }
}
.register.active {
  background: orange;
}
.register__container {
  width: 800px;
  height: 500px;
  padding: 40px 0px;
  position: relative;
}
@media (max-width: 767.98px) {
  .register__container {
    max-width: 400px;
    height: 650px;
    padding: 0;
    margin: 0 20px;
  }
}
.register__body {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .register__body {
    flex-direction: column;
    justify-content: space-between;
  }
}

.block-item {
  text-align: center;
  width: 50%;
}
@media (max-width: 767.98px) {
  .block-item {
    width: 100%;
    padding: 30px 0;
  }
}
.block-item__title {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}
@media (max-width: 991.98px) {
  .block-item__title {
    font-size: 18px;
  }
}
.block-item__btn {
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fff;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}

.form-box {
  height: 100%;
  background-color: #fff;
  width: 50%;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .form-box {
    width: 100%;
    height: 500px;
    box-shadow: none;
    top: 0;
  }
}
.form-box.active {
  left: 50%;
}
@media (max-width: 767.98px) {
  .form-box.active {
    left: 0;
    top: 150px;
  }
}

@media (max-width: 767.98px) {
  .register__main {
    margin-top: 40px;
  }
}
.register__arrow {
  position: absolute;
  z-index: 99;
  top: -50px;
  transition: all 0.4s ease-in-out;
}
.register__wrapper {
  position: relative;
  max-width: 800px;
}
.register__form {
  padding: 50px;
  width: 100%;
  font-size: 16px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.register__form-title {
  margin-bottom: 50px;
}
.register__form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  font-size: inherit;
  margin-bottom: 30px;
}
.register__form-btn {
  border: none;
  cursor: pointer;
  font-size: inherit;
  background-color: orange;
  color: white;
  padding: 10px 50px;
  margin-bottom: 20px;
  transition: all 0.4s ease 0s;
  width: 100%;
}
@media (max-width: 991.98px) {
  .register__form-btn {
    padding: 10px 20px;
    font-weight: 700;
  }
}
@media (min-width: 767.98px) {
  .register__form-btn:hover {
    background-color: #25D366;
  }
}
.register__form-forgot {
  color: #333;
  transition: all 0.4s ease 0s;
}
@media (min-width: 767.98px) {
  .register__form-forgot:hover {
    color: blue;
  }
}
.register__signin {
  left: 0;
  transition-delay: 0.25s;
}
.register__signup {
  left: 100%;
}

.form-btn_signup {
  background-color: #25D366;
  transition: all 0.4s ease 0s;
  width: 100%;
}
.form-btn_signup:hover {
  background-color: orange;
}

.form-box.active .register__signin {
  left: -100%;
  transition-delay: 0s;
}

.form-box.active .register__signup {
  left: 0%;
  transition-delay: 0.25s;
}

.page {
  flex: 1 1 auto;
}
@media (max-width: 767.98px) {
  .page {
    padding: 30px 0px 0px 0px;
  }
}

.footer {
  margin-top: 160px;
}
@media (max-width: 767.98px) {
  .footer {
    padding-top: 90px;
    margin: 0;
    padding-bottom: 20px;
  }
}